html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a:link {
  text-decoration: none;
}

/*.home-header {
  background-image: url('images/desktopbanner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 35rem;
  padding-top: 25rem;
}

.mobile-home-header {
  background-color: transparent;
  background-image: url('images/mobiledesktopheader2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 35rem;
  padding-top: 25rem;
}*/


/*** Home ***/

.home-product-container {
  margin-top: -3rem;
}

.home-product-card {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.home-product-card__title {
  color: black;
}

.home-product-image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.carousel-image {
  padding-top: 10rem;
}

.sales-container {
  margin-top: 5rem;
}

.sales-card {
  text-align: center;
}

/*** Category read ***/

.category-header {
  margin-top: 8rem;
  display: inline-block;
  font-weight: 1000;
  color: #212529;
  text-align: center;
}

/*** Product read ***/

.product-details {
  margin-top: 8rem;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.product-title {
  margin-top: 5rem;
  font-size: 30px;
  font-weight: bold;
}

.product-text {
  font-size: 16px;
}

.product-button {
  margin-bottom: 0.50rem;
}

.home-link {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.home-link__title {
  font-size: 16px;
}