html {
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-weight: bold;
}

h3 {
  margin-top: 8rem;
  text-align: center;
}

/*** NAVBAR ***/

.subnav {
  text-transform: uppercase;
  border: none;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  margin-top: 4.4rem;
  z-index: 1;
}

/*** HOME ***/

.batman-banner {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

/*.discover-banner {
  margin-top: 1rem;
}*/

/*.discover-banner-image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}*/

.home-headings {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.home-product-card {
  margin-bottom: 4rem;
  text-align: center;
}

.home-product-card__title {
  color: black;
}

.home-product-image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

.carousel {
  margin-top: -5rem;
  z-index: 0;
}

.carousel-image {
  padding-top: 10rem;
}


.sales-card {
  text-align: center;
}

.search-container {
  margin-top: 5rem;
}

/*** CATEGORY READ ***/

.category-header {
  margin-top: 8rem;
  display: inline-block;
  font-weight: 1000;
  color: #212529;
  text-align: center;
}

.category-product-card {
  margin-top: 3rem;
  margin-bottom: 4rem;
  text-align: center;
}

.category-product-image {
  width: 100%;
  height: 325px;
  object-fit: cover;
}

/*** PRODUCT READ ***/

.product-details {
  margin-top: 10rem;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-title {
  margin-top: 5rem;
  font-size: 30px;
  font-weight: bold;
}

.product-text {
  font-size: 16px;
}

.product-button {
  margin-bottom: 0.50rem;
}

/*** CART ***/

.cart-content {
  margin-top: 8rem;
  margin-bottom: 8rem auto;
}

.cart-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 1000;
  color: #212529;
}