<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.6.0/dist/simplex/bootstrap.min.css" >
        <link rel="stylesheet" href="{{ asset('css/site.css') }}">
        <link rel="stylesheet" href="{{ asset('css/sidenav.css') }}">
      {# Icône de favoris/onglet #}
        <link rel="icon" type="image/x-icon" href="{{ asset('css/images/favicon.png') }}" width=60px/>
    </head>
    <body>

        {% block body %}{% endblock %}

        <!-- footer -->
        <!--<footer>
            <ul class="nav nav-pills mt-4">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Terms & Conditions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#">Contact</a>
                </li>
            </ul>
        </footer>-->

         <!-- Bootstrap JS -->
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
