{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block body %}

<main class="container jumbotron register-form">

<h1>Welcome, Padawan!</h1>

{{ include('user/_form.html.twig') }}

</main>

<a href="{{ path('app_login') }}" class="container register-form__back-button">
<button type="button" class="btn btn-link text-dark"><-Back</button>
</a>



{% endblock %}